.footer {
    background-color: #333;
    /* background color for the footer */
    color: #fff;
    /* text color for the footer */
    padding: 20px;
    /* adjust the value as needed */
    text-align: center;
    /* center align the content */
    font-size: 14px;
    /* adjust the value as needed */
    position: fixed;
    /* fixed position to always display at the bottom of the page */
    bottom: 0;
    /* align to the bottom */
    width: 100%;
    /* full width of the screen */
}

footer a {
    color: #fff;
    text-decoration: none;

}

/* Style the hover state for the links */
footer a:hover {
    text-decoration: underline;
    /* add underline on hover */
}